
<!DOCTYPE html>
<html>
	<head>
		<title>Wiki Page</title>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>

		<h1><%= title %></h1>
		<p><a href="/edit/<%= title %>">Edit</a>
		<p><%= text %></p>

	</body>
</html>